/* GLOBAL */

body {
    background-color: #0E0E0E;
    color: #fff;
}

hr {
    display: block;
    width: 200px;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

h1, h2, h3 {
    font-weight: normal;
}

h1 {
    font-family: 'Asap', sans-serif;
}

h2, h3 {
    font-family: 'Caveat', cursive;
}

/* NAVBAR */
.navbar-brand {
    font-size: 2.5em;
    font-family: 'Caveat', cursive;
}

.nav-item {
    font-size: 1.5em;
    font-family: 'Caveat', cursive;
}

.navbar {
    background-color: #0E0E0E;
}

/* MAIN CONTENT */

#mainPhoto {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

#mainPhoto {
    margin-bottom: 20px;
}

#aboutText {
    font-family: 'Open Sans', sans-serif;
}

.icons {
    margin-top: 20px;
}

.icons a i {
    display: inline-block;
    font-size: 200%;
    color: #ccc;
    padding: 0 10px;
}

.icons a i:hover {
    color: #808080;
}

/* CONTACT */
.topHeading {
    font-size: 3em;
    margin-bottom: 1em;
}

.contactLine {
    display: block;
    margin: 15px 0;
    font-size: 1.5em;
    font-family: 'Asap', sans-serif;
}

.contactLine i {
    font-size: 1.5em;
}

/* PORTFOLIO */
.slider-inner {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
    float: left;
    border: #666 solid 1px;
}

.slider-inner img {
    display: none;
    width: 500px;
    height: 300px;
}

.slider-inner img.selected {
    display: inline-block;
}

.prev, .next {
    float: left;
    margin-top: 130px;
    cursor: pointer;
}

.prev {
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next {
    position: relative;
    margin-left: -45px;
    z-index: 100;
}


/****************************************************************/
/* MEDIA QUERIES */
/****************************************************************/

@media (max-width: 480px) {
    /* BIO */
    #aboutHeading {
        text-align: center;
        margin-bottom: 15px;
    }

    #aboutText {
        text-align: center;
    }

    /* Contact */
    .topHeading {
        font-size: 2.5em;
    }

    .contactLine {
        font-size: 1em;
    }

}